aaaPcapacitacion/Juan/Codigo/UI_TallerCapacitacionWeb/UI_TallerCapacitacionWeb/App_WebReferences/Wsr_SEG_MembershipProvider_LdapFuncionarios/WsLdapProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider">
      <s:element name="FindUsersByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usernameToMatch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUsersByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUsersByNameResult" type="tns:ArrayOfUcrLdapUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUcrLdapUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UcrLdapUser" nillable="true" type="tns:UcrLdapUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UcrLdapUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Carnet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoUsuario" type="tns:UcrLapTipoUsuario" />
          <s:element minOccurs="1" maxOccurs="1" name="Existe" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UcrLapTipoUsuario">
        <s:restriction base="s:string">
          <s:enumeration value="ESTUDIANTE" />
          <s:enumeration value="FUNCIONARIO" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetUserByUserKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerUserKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUserKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUserKeyResult" type="tns:UcrLdapUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUserNameResult" type="tns:UcrLdapUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindUsersByNameSoapIn">
    <wsdl:part name="parameters" element="tns:FindUsersByName" />
  </wsdl:message>
  <wsdl:message name="FindUsersByNameSoapOut">
    <wsdl:part name="parameters" element="tns:FindUsersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUserKey" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUserKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="WsLdapProviderSoap">
    <wsdl:operation name="FindUsersByName">
      <wsdl:input message="tns:FindUsersByNameSoapIn" />
      <wsdl:output message="tns:FindUsersByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserKey">
      <wsdl:input message="tns:GetUserByUserKeySoapIn" />
      <wsdl:output message="tns:GetUserByUserKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <wsdl:input message="tns:GetUserByUserNameSoapIn" />
      <wsdl:output message="tns:GetUserByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsLdapProviderSoap" type="tns:WsLdapProviderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindUsersByName">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/FindUsersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserKey">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/GetUserByUserKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsLdapProviderSoap12" type="tns:WsLdapProviderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindUsersByName">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/FindUsersByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserKey">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/GetUserByUserKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsLdapProvider/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsLdapProvider">
    <wsdl:port name="WsLdapProviderSoap" binding="tns:WsLdapProviderSoap">
      <soap:address location="http://localhost/SLA_UtileriasSeguridad/WsLdapProvider.asmx" />
    </wsdl:port>
    <wsdl:port name="WsLdapProviderSoap12" binding="tns:WsLdapProviderSoap12">
      <soap12:address location="http://localhost/SLA_UtileriasSeguridad/WsLdapProvider.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>