aaaOrdenes de Trabajo-20170712T021453Z-001/Ordenes de Trabajo/Codigo/SLA_OrdenesDeTrabajo/BLL_OrdenesDeTrabajo/Web References/WsrOTServicio/OTServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OTServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.60.0.56:8080/PDAGO.Servicio/OTServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.60.0.56:8080/PDAGO.Servicio/OTServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PDAGO_SL" />
      <xsd:import schemaLocation="http://10.60.0.56:8080/PDAGO.Servicio/OTServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOTServicio_GetOT_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOT" />
  </wsdl:message>
  <wsdl:message name="IOTServicio_GetOT_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOTResponse" />
  </wsdl:message>
  <wsdl:message name="IOTServicio_GetOT_OTFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PDAGO_SL" name="detail" element="q1:OTFault" />
  </wsdl:message>
  <wsdl:message name="IOTServicio_insertarOT_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarOT" />
  </wsdl:message>
  <wsdl:message name="IOTServicio_insertarOT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarOTResponse" />
  </wsdl:message>
  <wsdl:message name="IOTServicio_insertarOT_OTFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PDAGO_SL" name="detail" element="q2:OTFault" />
  </wsdl:message>
  <wsdl:portType name="IOTServicio">
    <wsdl:operation name="GetOT">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTServicio/GetOT" message="tns:IOTServicio_GetOT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTServicio/GetOTResponse" message="tns:IOTServicio_GetOT_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOTServicio/GetOTOTFaultFault" name="OTFaultFault" message="tns:IOTServicio_GetOT_OTFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarOT">
      <wsdl:input wsaw:Action="http://tempuri.org/IOTServicio/insertarOT" message="tns:IOTServicio_insertarOT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOTServicio/insertarOTResponse" message="tns:IOTServicio_insertarOT_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOTServicio/insertarOTOTFaultFault" name="OTFaultFault" message="tns:IOTServicio_insertarOT_OTFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOTServicio" type="tns:IOTServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOT">
      <soap:operation soapAction="http://tempuri.org/IOTServicio/GetOT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OTFaultFault">
        <soap:fault use="literal" name="OTFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertarOT">
      <soap:operation soapAction="http://tempuri.org/IOTServicio/insertarOT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OTFaultFault">
        <soap:fault use="literal" name="OTFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OTServicio">
    <wsdl:port name="BasicHttpBinding_IOTServicio" binding="tns:BasicHttpBinding_IOTServicio">
      <soap:address location="http://10.60.0.56:8080/PDAGO.Servicio/OTServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>