aaaOrdenes de Trabajo-20170712T021453Z-001/Ordenes de Trabajo/Codigo/SLA_OrdenesDeTrabajo/BLL_OrdenesDeTrabajo/Web References/WsrOTServicio/OTServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.60.0.56:8080/PDAGO.Servicio/OTServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PDAGO_SL" />
  <xs:element name="GetOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ordenTrabajo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PDAGO_SL" minOccurs="0" name="GetOTResult" nillable="true" type="q1:OrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PDAGO_SL" minOccurs="0" name="ordenTrabajo" nillable="true" type="q2:OrdenTrabajo" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarOTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarOTResult" type="xs:int" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>