aaaOrdenes de Trabajo-20170712T021453Z-001/Ordenes de Trabajo/Codigo/UI_OrdenesDeTrabajoWeb/UI_OrdenesDeTrabajoWeb/App_WebReferences/WsrOrhEuCatalogosPlanilla/WsOrhEuCatalogosPlanilla.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://serviciosorheu.ucr.ac.cr/SLA_SERVICIOSORHEU/WsOrhEuCatalogosPlanilla" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://orh.ucr.ac.cr/BLL_Planillas/BLL_PLMantenimientos" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://serviciosorheu.ucr.ac.cr/SLA_SERVICIOSORHEU/WsOrhEuCatalogosPlanilla" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://serviciosorheu.ucr.ac.cr/SLA_SERVICIOSORHEU/WsOrhEuCatalogosPlanilla">
      <s:import namespace="http://orh.ucr.ac.cr/BLL_Planillas/BLL_PLMantenimientos" />
      <s:element name="PLL_INGRESOS_Mantenimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvc_Clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvo_Registro" type="s1:PLL_INGRESOS" />
            <s:element minOccurs="1" maxOccurs="1" name="pvn_Accion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PLL_INGRESOS_MantenimientoResponse">
        <s:complexType />
      </s:element>
      <s:element name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvc_Clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvc_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ApplicationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://orh.ucr.ac.cr/BLL_Planillas/BLL_PLMantenimientos">
      <s:complexType name="PLL_INGRESOS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SISTEMA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_ING" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECCION_IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Existe" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PLL_INGRESOS_MantenimientoSoapIn">
    <wsdl:part name="parameters" element="tns:PLL_INGRESOS_Mantenimiento" />
  </wsdl:message>
  <wsdl:message name="PLL_INGRESOS_MantenimientoSoapOut">
    <wsdl:part name="parameters" element="tns:PLL_INGRESOS_MantenimientoResponse" />
  </wsdl:message>
  <wsdl:message name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WsOrhEuCatalogosPlanillaSoap">
    <wsdl:operation name="PLL_INGRESOS_Mantenimiento">
      <wsdl:input message="tns:PLL_INGRESOS_MantenimientoSoapIn" />
      <wsdl:output message="tns:PLL_INGRESOS_MantenimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuario">
      <wsdl:input message="tns:PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuarioSoapIn" />
      <wsdl:output message="tns:PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsOrhEuCatalogosPlanillaSoap" type="tns:WsOrhEuCatalogosPlanillaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PLL_INGRESOS_Mantenimiento">
      <soap:operation soapAction="http://serviciosorheu.ucr.ac.cr/SLA_SERVICIOSORHEU/WsOrhEuCatalogosPlanilla/PLL_INGRESOS_Mantenimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuario">
      <soap:operation soapAction="http://serviciosorheu.ucr.ac.cr/SLA_SERVICIOSORHEU/WsOrhEuCatalogosPlanilla/PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsOrhEuCatalogosPlanillaSoap12" type="tns:WsOrhEuCatalogosPlanillaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PLL_INGRESOS_Mantenimiento">
      <soap12:operation soapAction="http://serviciosorheu.ucr.ac.cr/SLA_SERVICIOSORHEU/WsOrhEuCatalogosPlanilla/PLL_INGRESOS_Mantenimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuario">
      <soap12:operation soapAction="http://serviciosorheu.ucr.ac.cr/SLA_SERVICIOSORHEU/WsOrhEuCatalogosPlanilla/PLM_UBICACION_POR_USUARIO_ObtenerUbicacionesPorNombreUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsOrhEuCatalogosPlanilla">
    <wsdl:port name="WsOrhEuCatalogosPlanillaSoap" binding="tns:WsOrhEuCatalogosPlanillaSoap">
      <soap:address location="http://10.11.28.15/SLA_ServiciosOrhEU_SDP_Sirh_Desarrollo/WsOrhEuCatalogosPlanilla.asmx" />
    </wsdl:port>
    <wsdl:port name="WsOrhEuCatalogosPlanillaSoap12" binding="tns:WsOrhEuCatalogosPlanillaSoap12">
      <soap12:address location="http://10.11.28.15/SLA_ServiciosOrhEU_SDP_Sirh_Desarrollo/WsOrhEuCatalogosPlanilla.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>