aaaOrdenes de Trabajo-20170712T021453Z-001/Ordenes de Trabajo/Codigo/UI_OrdenesDeTrabajoWeb/UI_OrdenesDeTrabajoWeb/App_WebReferences/Wsr_SEG_RolesProvider/WsOracleRolesProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider">
      <s:element name="AddUsersToRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usernames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="roleNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUsersToRolesResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRoleResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveUsersFromRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usernames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="roleNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUsersFromRolesResponse">
        <s:complexType />
      </s:element>
      <s:element name="ApplicationName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplicationNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="throwOnPopulatedRole" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteRoleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUsersInRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usernameToMatch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUsersInRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUsersInRoleResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRolesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesForUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersInRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersInRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersInRoleResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUserInRoleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvc_ProviderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoleExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RoleExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddUsersToRolesSoapIn">
    <wsdl:part name="parameters" element="tns:AddUsersToRoles" />
  </wsdl:message>
  <wsdl:message name="AddUsersToRolesSoapOut">
    <wsdl:part name="parameters" element="tns:AddUsersToRolesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateRoleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="CreateRoleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUsersFromRolesSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRoles" />
  </wsdl:message>
  <wsdl:message name="RemoveUsersFromRolesSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ApplicationNameSoapIn">
    <wsdl:part name="parameters" element="tns:ApplicationName" />
  </wsdl:message>
  <wsdl:message name="ApplicationNameSoapOut">
    <wsdl:part name="parameters" element="tns:ApplicationNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="FindUsersInRoleSoapIn">
    <wsdl:part name="parameters" element="tns:FindUsersInRole" />
  </wsdl:message>
  <wsdl:message name="FindUsersInRoleSoapOut">
    <wsdl:part name="parameters" element="tns:FindUsersInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="GetAllRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetRolesForUser" />
  </wsdl:message>
  <wsdl:message name="GetRolesForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersInRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersInRole" />
  </wsdl:message>
  <wsdl:message name="GetUsersInRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserInRoleSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserInRole" />
  </wsdl:message>
  <wsdl:message name="IsUserInRoleSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="RoleExistsSoapIn">
    <wsdl:part name="parameters" element="tns:RoleExists" />
  </wsdl:message>
  <wsdl:message name="RoleExistsSoapOut">
    <wsdl:part name="parameters" element="tns:RoleExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="WsOracleRolesProviderSoap">
    <wsdl:operation name="AddUsersToRoles">
      <wsdl:input message="tns:AddUsersToRolesSoapIn" />
      <wsdl:output message="tns:AddUsersToRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input message="tns:CreateRoleSoapIn" />
      <wsdl:output message="tns:CreateRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <wsdl:input message="tns:RemoveUsersFromRolesSoapIn" />
      <wsdl:output message="tns:RemoveUsersFromRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplicationName">
      <wsdl:input message="tns:ApplicationNameSoapIn" />
      <wsdl:output message="tns:ApplicationNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input message="tns:DeleteRoleSoapIn" />
      <wsdl:output message="tns:DeleteRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersInRole">
      <wsdl:input message="tns:FindUsersInRoleSoapIn" />
      <wsdl:output message="tns:FindUsersInRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input message="tns:GetAllRolesSoapIn" />
      <wsdl:output message="tns:GetAllRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <wsdl:input message="tns:GetRolesForUserSoapIn" />
      <wsdl:output message="tns:GetRolesForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRole">
      <wsdl:input message="tns:GetUsersInRoleSoapIn" />
      <wsdl:output message="tns:GetUsersInRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <wsdl:input message="tns:IsUserInRoleSoapIn" />
      <wsdl:output message="tns:IsUserInRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoleExists">
      <wsdl:input message="tns:RoleExistsSoapIn" />
      <wsdl:output message="tns:RoleExistsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsOracleRolesProviderSoap" type="tns:WsOracleRolesProviderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUsersToRoles">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/AddUsersToRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/RemoveUsersFromRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationName">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/ApplicationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersInRole">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/FindUsersInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRole">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/GetUsersInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/IsUserInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleExists">
      <soap:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/RoleExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsOracleRolesProviderSoap12" type="tns:WsOracleRolesProviderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUsersToRoles">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/AddUsersToRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/CreateRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/RemoveUsersFromRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationName">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/ApplicationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/DeleteRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersInRole">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/FindUsersInRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/GetAllRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRole">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/GetUsersInRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/IsUserInRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleExists">
      <soap12:operation soapAction="http://utilerias.serguridad.ucr.ac.cr/SLA_UTILERIASSEGURIDAD/WsOracleRolesProvider/RoleExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsOracleRolesProvider">
    <wsdl:port name="WsOracleRolesProviderSoap" binding="tns:WsOracleRolesProviderSoap">
      <soap:address location="http://localhost/SLA_UtileriasSeguridad/WsOracleRolesProvider.asmx" />
    </wsdl:port>
    <wsdl:port name="WsOracleRolesProviderSoap12" binding="tns:WsOracleRolesProviderSoap12">
      <soap12:address location="http://localhost/SLA_UtileriasSeguridad/WsOracleRolesProvider.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>